@font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 400;
    font-style: normal;
}
    @font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
    @font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 400;
    font-style: normal;
}
    @font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
    color: #0c0c0c;
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.header-menu {}

.header-list-item {}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
}

.social-list-item {}

.social-link {}

.social_img {
padding: 8px;
}