@font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 400;
    font-style: normal;
}
    @font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
    @font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 400;
    font-style: normal;
}
    @font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy/Gilroy-Medium.woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
    color: #0c0c0c;
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}
/* #region header styles */
.header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.header-menu {}

.header-list-item {}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
}

.social-list-item {}

.social-link {}

/* #endregion header styles */

/* #region hero styles */
.hero-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 0.88;
    letter-spacing: -0.02em;
}
.hero-title-part {
    color: #3350e9;
}
.hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);    
}
.hero-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;    
}

.hero-link:hover,
.hero-link:focus {
    color: #3350e9;
}

/* #endregion hero styles */